<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Google I/O Chat Application with Node.js, Express, Socket.io</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" media="screen" charset="utf-8">

    <!-- Begin emoji-picker Stylesheets -->
    <link href="/lib/css/nanoscroller.css" rel="stylesheet">
    <link href="/lib/css/emoji.css" rel="stylesheet">
    <!-- End emoji-picker Stylesheets -->

    <link rel="stylesheet" href="/css/app.css" media="screen" charset="utf-8">
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="/images/nodejs-logo.png" height="25">
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="clear"><i class="fa fa-trash-o"></i> Clear history</a></li>
                        <li><a href="/" id="logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="margin-top"></div>
    <div class="container main">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul id="messages" class="list-unstyled">
                            <% for(var i=0; i < messages.length; i++) {%>
                                <div class='media'>
                                    <div class='media-left'><img class='media-object' src='/images/person.png' alt='' height='40'></div>
                                    <div class='media-body'>
                                        <h4 class='media-heading'><%= messages[i].username %></h4>
                                        <p>
                                            <%= messages[i].text %>
                                        </p>
                                        <p class="text-muted">
                                            <%= messages[i].created_at %>
                                        </p>
                                    </div>
                                </div>
                                <% } %>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="users">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Online members
                        </div>
                        <div class="list-group" id="users">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <form>
            <div class="input-group">
                <p class="lead emoji-picker-container">
                    <input placeholder="Send message" id="form" name="message" class="form-control" data-emojiable="false" autocomplete="off" />
                </p>
                <span class="input-group-btn">
                  <button class="btn btn-primary" id="send" type="submit"><strong><i class="fa fa-paper-plane-o"></i> Send</button>
              </span>
            </div>
        </form>
    </div>

    <script src="/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="/socket.io-client/socket.io.js" charset="utf-8"></script>

    <!-- Begin emoji-picker JavaScript -->
    <script src="/lib/js/nanoscroller.min.js"></script>
    <script src="/lib/js/tether.min.js"></script>
    <script src="/lib/js/config.js"></script>
    <script src="/lib/js/util.js"></script>
    <script src="/lib/js/jquery.emojiarea.js"></script>
    <script src="/lib/js/emoji-picker.js"></script>
    <!-- End emoji-picker JavaScript -->

    <script src="/js/app.js" charset="utf-8"></script>
</body>

</html>
