.body {
    background-color: #dadada;
}
.main {
    margin-bottom: 70px;
}
textarea[name=message] {
    resize: none;
}
.margin-top {
    margin-top: 60px;
}
.users {
    position: fixed;
}
form {
    position: fixed;
    bottom: 10px;
    width: 90%;
}
